@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		border-width: 0px;
		outline: none;
		vertical-align: top;
		box-sizing: border-box;
	}

	*::-webkit-scrollbar {
		width: 11px;
	}

	*::-webkit-scrollbar-thumb {
		height: 75%;
		background: #e3e8ef;
		background-clip: padding-box;
		border: 4px solid transparent;
		border-radius: 100px;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	html {
		width: 100%;
		height: 100%;
	}

	body {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration-thickness: 0px;
		background-color: transparent;
	}

	img {
		border-width: 0px;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	.active-button + button {
		border-left: 1px solid #c3ddfd;
	}
}

@layer utilities {
	.scroll-none::-webkit-scrollbar {
		display: none;
	}

	.scroll-none::-webkit-scrollbar-thumb {
		display: none;
	}

	.default-fade-in {
		animation-name: fadeIn;
		animation-duration: 0.3s;
		animation-timing: linear;
		animation-delay: 0s;
		animation-fill-mode: forwards;
	}

	.spin-fade-in {
		animation-name: fadeIn;
		animation-duration: 0.3s;
		animation-timing: linear;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		pointer-events: auto;
	}
}
