@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		border-width: 0px;
		outline: none;
		vertical-align: top;
		box-sizing: border-box;
	}

	*::-webkit-scrollbar {
		width: 11px;
		height: 11px;
	}

	*::-webkit-scrollbar-thumb {
		width: 75%;
		height: 75%;
		background: #e3e8ef;
		background-clip: padding-box;
		border: 4px solid transparent;
		border-radius: 100px;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	html {
		width: 100%;
		height: 100%;
	}

	body {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration-thickness: 0px;
		background-color: transparent;
	}

	img {
		border-width: 0px;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	.active-button + button {
		border-left: 1px solid #c3ddfd !important;
	}
}

@layer components {
	.pc {
		@apply block tablet:hidden;
	}
	.tablet {
		@apply hidden tablet:block mobile:hidden;
	}
	.mobile {
		@apply hidden mobile:block;
	}
	.pc-tablet {
		@apply block mobile:hidden;
	}
	.pc-mobile {
		@apply block tablet:hidden mobile:block;
	}
	.tablet-mobile {
		@apply hidden tablet:block;
	}

	.h1 {
		@apply text-6xl font-extrabold leading-[82.50px] duration-300 tablet:text-5xl tablet:leading-[66px] mobile:text-4xl mobile:leading-[49.50px];
	}

	.h2 {
		@apply text-5xl font-bold leading-[66px] duration-300 tablet:text-4xl tablet:leading-[49.50px] mobile:text-3xl mobile:leading-[41.25px];
	}

	.h3 {
		@apply text-4xl font-bold leading-[49.50px] duration-300 tablet:text-3xl tablet:leading-[41.25px] mobile:text-2xl mobile:leading-[33px];
	}

	.title1 {
		@apply text-2xl font-bold leading-[33px] duration-300 mobile:text-xl mobile:leading-7;
	}

	.title2 {
		@apply text-xl font-bold leading-7 duration-300 mobile:text-lg mobile:leading-normal;
	}

	.body1 {
		@apply text-2xl font-medium leading-[39px] duration-300 mobile:text-xl mobile:leading-[32.5px];
	}

	.body2 {
		@apply text-xl font-medium leading-[32.5px] duration-300 mobile:text-lg mobile:leading-[29.25px];
	}
}

@layer utilities {
	.scroll-none::-webkit-scrollbar {
		display: none;
	}

	.scroll-none::-webkit-scrollbar-thumb {
		display: none;
	}

	.default-fade-in {
		animation-name: fadeIn;
		animation-duration: 0.3s;
		animation-timing: linear;
		animation-delay: 0s;
		animation-fill-mode: forwards;
	}

	.spin-fade-in {
		animation-name: fadeIn;
		animation-duration: 0.3s;
		animation-timing: linear;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		pointer-events: auto;
	}
}
